/* Icons */
.icon {
  width: 2rem;
  height: 2rem;
}

.icon-default {
  fill: var(--default-icon-clr);
  background-color: var(--default-icon-bgclr);
}

.icon-selected {
  fill: var(--selected-icon-clr);
  background-color: var(--selected-icon-bgclr);
}
