/* Containers */
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  height: 35vh;
  padding: 3rem 7rem;
  box-shadow: 0 2px 4px rgba(138, 7, 7, 0.1);
  border: 1px solid var(--votes-container-brdrclr);
  border-radius: 10px;
}

.votes-container {
  display: flex;
  border: 1px solid var(--votes-container-brdrclr);
  min-width: 30rem;
  max-width: fit-content;
  border-radius: 10px;
  justify-content: flex-start;
  gap: 1.4rem;
  padding: 0.8rem;
}

.votes-row {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* Icons */
.icon {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}

.icon-default {
  fill: var(--default-icon-clr);
  background-color: var(--default-icon-bgclr);
}

.icon-selected {
  fill: var(--selected-icon-clr);
  background-color: var(--selected-icon-bgclr);
}
