:root {
  --container-bgclr: #f9f9f9;
  --votes-container-bgclr: #ffffff;
  --votes-container-brdrclr: #cdcbcb;
  --default-icon-clr: #343a40;
  --default-icon-hvr: #f0f1f1;
  --selected-icon-hvr: #daddf8;
  --default-icon-bgclr: #f4f6f8;
  --selected-icon-clr: #253cf2;
  --selected-icon-bgclr: #e5e8fd;
  --common-box-shadowclr: #0000001a;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
